//- Info
meta(name="robots", content="all")
meta(name="description", content= description)
meta(name="keywords", content="grid, flexbox, responsive, stylus, css3, mantisjs")
meta(name="author", content="@acauamontiel")
meta(name="rating", content="General")
meta(name="date", content="2019-08-20")
meta(name="copyright", content="@acauamontiel")
meta(name="contact", content="contato@acauamontiel.com.br")
meta(name="reply-to", content="contato@acauamontiel.com.br")
meta(name="generator", content="Sublime Text 3")
//- Open Graph - http://ogp.me/
meta(property="og:site_name", content= title)
meta(property="og:title", content= title)
meta(property="og:type", content="website")
meta(property="og:url", content="http://acauamontiel.com.br/mantis-grid")
meta(property="og:description", content= description)
