$grid-classname ?= 'grid'
$grid-item-classname ?= $grid-classname + '__item'
$grid-offset-classname ?= $grid-classname + '__offset'
$grid-separator ?= '--'
$grid-columns ?= 12
$grid-width ?= 100%
$grid-fluid ?= true
$grid-breakpoints ?= {
	gutter: 10px,
	prefix: 'mb'
}, {
	prefix: 'tb',
	media-querie: "only screen and (min-width: 640px)"
}, {
	gutter: 20px,
	prefix: 'dt',
	media-querie: "only screen and (min-width: 960px)"
}

grid($width = $grid-width, $fluid = $grid-fluid)
	display flex
	flex-wrap wrap
	margin-left auto
	margin-right auto
	box-sizing border-box

	if $fluid
		width 100%
		max-width $width
	else
		width $width

grid-item(i)
	flex-basis unit(i * (100 / $grid-columns), '%')

grid-offset(i)
	margin-left unit(i * (100 / $grid-columns), '%')
