generate-grid-and-modifiers($prefix)
	.{$mantis.grid.classname}{$prefix}
		grid()

		&{$mantis.grid.separator}row
			grid-direction(row)

		&{$mantis.grid.separator}row-reverse
			grid-direction(row-reverse)

		&{$mantis.grid.separator}column
			grid-direction(column)

		&{$mantis.grid.separator}column-reverse
			grid-direction(column-reverse)

		&{$mantis.grid.separator}align-start
			grid-align(start)

		&{$mantis.grid.separator}align-end
			grid-align(end)

		&{$mantis.grid.separator}align-center
			grid-align(center)

		&{$mantis.grid.separator}align-stretch
			grid-align(stretch)

		&{$mantis.grid.separator}justify-start
			grid-justify(start)

		&{$mantis.grid.separator}justify-end
			grid-justify(end)

		&{$mantis.grid.separator}justify-center
			grid-justify(center)

		&{$mantis.grid.separator}justify-around
			grid-justify(around)

		&{$mantis.grid.separator}justify-between
			grid-justify(between)

		&{$mantis.grid.separator}justify-evenly
			grid-justify(evenly)

generate-grid($prefix = '', $media-querie = false, $width = $mantis.grid.width, $fluid = $mantis.grid.fluid)
	unless $prefix is ''
		$prefix = '-' + $prefix

	if $media-querie
		@media $media-querie
			generate-grid-and-modifiers($prefix)
	else
		generate-grid-and-modifiers($prefix)

generate-grid-item($gutter, $prefix)
	.{$mantis.grid.item-classname}{$prefix}
		grid-item(grow)

		&--first
			grid-item-order(first)

		&--last
			grid-item-order(last)

		&--auto
			grid-item(auto)

	[class*={$mantis.grid.item-classname}{$prefix}]
		box-sizing border-box

		if $gutter
			padding-left $gutter
			padding-right $gutter

	for i in (1 .. $mantis.grid.columns)
		.{$mantis.grid.item-classname}{$prefix}{$mantis.grid.separator}{i}
			grid-item(i)

		unless (i == $mantis.grid.columns)
			.{$mantis.grid.offset-classname}{$prefix}{$mantis.grid.separator}{i}
				grid-offset(i)

generate-grid-items($gutter = false, $prefix = '', $media-querie = false)
	unless $prefix is ''
		$prefix = '-' + $prefix

	if $media-querie
		@media $media-querie
			generate-grid-item($gutter, $prefix)
	else
		generate-grid-item($gutter, $prefix)

grid-init()
	generate-grid()

	for i in $mantis.grid.breakpoints
		if i.media-querie is null
			generate-grid(i.prefix)
			generate-grid-items(i.gutter, i.prefix)
		else
			generate-grid(i.prefix, i.media-querie)
			generate-grid-items(i.gutter, i.prefix, i.media-querie)

