$mantis ?= {}
$mantis.grid = {}
$mantis.grid.classname = 'grid'
$mantis.grid.item-classname = $mantis.grid.classname + '__item'
$mantis.grid.offset-classname = $mantis.grid.classname + '__offset'
$mantis.grid.separator = '--'
$mantis.grid.columns = 12
$mantis.grid.width = 1140px
$mantis.grid.fluid = true
$mantis.grid.breakpoints = {
	prefix: 'sm'
}, {
	prefix: 'md',
	media-querie: 'only screen and (min-width: 640px)'
}, {
	gutter: 10px,
	prefix: 'lg',
	media-querie: 'only screen and (min-width: 960px)'
}
between = 'between' // Workaround to use `between` as an argument

grid($width = $mantis.grid.width, $fluid = $mantis.grid.fluid)
	display flex
	flex-wrap wrap
	margin-left auto
	margin-right auto
	width $fuild ? 100% : $width
	max-width $width if $fluid
	box-sizing border-box

grid-direction($direction = row)
	$directions = row row-reverse column column-reverse
	flex-direction $direction if $direction in $directions

grid-align($align = start)
	$alignments = flex-start flex-end center stretch

	if ($align is start) || ($align is end)
		$align = unquote('flex-' + $align)

	align-items $align if $align in $alignments

grid-justify($justify = start)
	$justifications = flex-start flex-end center space-around space-between space-evenly

	if ($justify is start) || ($justify is end)
		$justify = unquote('flex-' + $justify)

	if ($justify is between) || ($justify is around) || ($justify is evenly)
		$justify = unquote('space-' + $justify)

	justify-content $justify

grid-item($i, $columns = $mantis.grid.columns)
	if $i is a 'unit'
		flex-basis unit($i * (100 / $columns), '%')
	else if $i is grow
		flex-grow 1
		flex-basis 0
	else if $i is auto
		flex-basis auto

	min-width 0

grid-item-order($i)
	if $i is a 'unit'
		order $i
	else if $i is first
		order -1
	else if $i is last
		order 1

grid-offset($i, $columns = $mantis.grid.columns)
	margin-left unit($i * (100 / $columns), '%')
